@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');

@import '../node_modules/bootstrap/scss/bootstrap.scss';

body{
    padding: 0;
    margin: 0;

    font-family: 'Open Sans', sans-serif;
}

#app{
    padding-top: 64px;

    & > main{
        max-width: 100vw;
    }
}